// sass-lint:disable no-important,no-ids,nesting-depth

$background: #000;
$darker-green: #082a00;
$dark-green: #0e4603;
$article-text: #fff;
$link: #2cff4b;

@for $page from 3760 through 4077 {
  #p#{$page} {
    background: $background !important;

    .adventurepage {
      a {
        color: $link !important;

        &:hover,
        &:visited {
          color: $link !important;
        }
      }
    }

    #articleholder,
    #container2,
    #main {
      background: $darker-green !important;
      padding: 0;
    }

    #container1,
    #container3,
    #jumptoadventure,
    #pagelist,
    #viewall,
    .adventurepage {
      background: $dark-green !important;
      color: $article-text;
    }

    #jumptoadventure {border-color: $dark-green;}

    header > * {
      &:not(nav) { display: none !important;}
    }

    // nav background are outside the main loop
    nav {
      a {
        color: $article-text !important;

        &:visited,
        &:hover {
          color: $article-text !important;
        }
      }
    }

    .spacing {
      &.heart {
        background: url('http://www.mspaintadventures.com/images/candycorn_scratch.png') center center no-repeat !important; // sass-lint:disable-line no-url-domains, no-url-protocols
        padding: 0 10px;

        img {display: none !important;}
      }
    }

    // only between 3845 and 4044?
    @if $page >= 3845 {
      @if $page <= 4044 {
        #slide {
          .spoiler {
            background: $background !important;
          }
        }
      }
    }

    // only before 4077?
    @if $page <= 4077 {
      nav {
        padding-top: 180px !important;
      }
    }

    // only start at 4052?
    @if $page >= 4052 {
      #imgtitle {
        cursor: pointer;
        left: 0;
        position: absolute;
        top: 0;
      }
    }

    // only start at 4071?
    @if $page >= 4071 {
      #nextlinks {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: x-large;
        font-weight: normal;
        margin: 0;
        padding: 0;
        text-align: left;

        // is this necessary?
        li {
          font-family: Verdana, Arial, Helvetica, sans-serif;
          font-size: x-large;
          font-weight: normal;
          margin: 0;
          padding: 0;
          text-align: left;
        }
      }
    }
  }
}

// extra page? also no viewall?
#p4078 {
  #container1,
  #container3,
  #jumptoadventure,
  #pagelist,
  .adventurepage {
    background: $dark-green !important;
    color: $article-text;
  }
}

@mixin nav-background($id) {
  background: $background url('http://www.mspaintadventures.com/storyfiles/hs2/scratch/room#{$id}.gif') top left no-repeat !important; // sass-lint:disable-line no-url-domains, no-url-protocols
}

// nav backgrounds (the header image)
// room
@for $page from 3760 through 3792 {
  #p#{$page} {
    nav {
      @include nav-background('');
    }
  }
}

// room02-09
@for $page from 3793 through 3800 {
  #p#{$page} {
    nav {
      @include nav-background('0' + ($page - 3791));
    }
  }
}

// room10-80
@for $page from 3801 through 3870 {
  #p#{$page} {
    nav {
      @include nav-background($page - 3791);
    }
  }
}

// room80 
// (81 in 3891, 82 in 3932, 83 in 3970)
@for $page from 3871 through 3997 {
  #p#{$page} {
    nav {
      @if $page == 3891 {
        @include nav-background(81);
      } @else if $page == 3932 {
        @include nav-background(82);
      } @else if $page == 3970 {
        @include nav-background(83);
      } @else {
        @include nav-background(80);
      }
    }
  }
}

// room84
#p3998 {
  nav {@include nav-background(84);}
}

// room85
// (86 in 4032)
@for $page from 3999 through 4031 {
  #p#{$page} {
    nav { @include nav-background(85);}
  }
}

// room86
#p4032 {
  nav {@include nav-background(86);}
}

// room87
@for $page from 4033 through 4047 {
  #p#{$page} {
    nav { @include nav-background(87);}
  }
}

// room88-91
@for $page from 4048 through 4051 {
  #p#{$page} {
    nav { @include nav-background($page - 3960);}
  }
}

// cascade
#p4105 {
  nav {
    background: $background url('http://www.mspaintadventures.com/images/header_cascade.gif') top left no-repeat !important; // sass-lint:disable-line no-url-domains, no-url-protocols
    padding-top: 180px !important;
  }
}
