// sass-lint:disable no-important,no-ids,nesting-depth

$bluh: #0707ec;
$pank: #f400ec;
$groen: #14ff23;

#p4078 {
  background: $bluh;
  font-family: Comic Sans MS;
  font-size: 14px;

  #adventureprofile,
  .adventurepage {
    a {
      font-family: Comic Sans MS;

      &:hover,
      &:visited {
        font-family: Comic Sans MS;
      }
    }
  }

  #pagecommand {
    font-family: Comic Sans MS;
    font-size: 32px !important;
    padding: 6px;
    text-transform: uppercase;
  }

  #articleholder,
  #container2,
  #main {
    background: $pank !important;
    padding: 0;
  }

  #container1,
  #container3,
  #jumptoadventure,
  #pagelist,
  #viewall,
  .adventurepage {
    background: $groen !important;
  }

  #jumptoadventure {border-color: $groen}

  header > * {
    &:not(nav) { display: none !important;}
  }

  .spacing {
    &.heart {
      background: url('//www.mspaintadventures.com/images/candycorn_scratch.png') center center no-repeat !important; // sass-lint:disable-line no-url-domains, no-url-protocols
      padding: 0 10px;

      img {display: none !important;}
    }
  }
}
