// sass-lint:disable no-important,no-ids,nesting-depth

$background: #000;
$dark-grey: #262626;
$white-text: #fff;
$blue-text: #0066ff;

#p4105 {
  body {background: $background !important}

  #articleholder,
  #container2,
  #main {
    background: $dark-grey !important;
  }

  #main {
    padding: 0 !important;
    width: 960px !important;
  }

  #slide {width: 100% !important;}

  #container1,
  #container3,
  #jumptoadventure,
  #pagelist,
  #viewall,
  .adventurepage {
    background: $dark-grey !important;
    color: $white-text;
  }

  #jumptoadventure {border-color: $dark-grey}

  header > * {
    &:not(nav) { display: none !important;}
  }

  #pagecommand {display: none !important;}

  embed {
    height: 600px !important;
    width: 950px !important;
  }

  nav {padding-top: 125px !important}

  #imgtitle {
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
  }

  #adventureprofile,
  .adventurepage {
    a {
      color: $blue-text !important;

      &:hover,
      &:visited {
        color: $blue-text !important;
      }
    }
  }
}
