// sass-lint:disable no-important,no-ids,nesting-depth

$background: #000;

#p4811 {
  background: $background;
  padding: 0 !important;

  > * {
    background: $background !important;
    margin: 0 auto !important;
    padding: 0 !important;
  }

  header,
  footer,
  #adventureprofile {
    display: none !important;
  }

  #main,
  #articleholder,
  #slide,
  #text1 {
    background: $background !important;
    border: 0 !important;
    height: 650px !important;
    margin: 0 auto !important;
    padding: 0 !important;
    width: 950px !important;
  }

  #slide {
    .panel {
      background: $background !important;
      border: 0 !important;
      height: 650px !important;
      margin: 0 auto !important;
      padding: 0 !important;
      width: 950px !important;
    }

    > * {
      &:not(.panel) {
        display: none !important;
      }
    }
  }
}
