$def-border: #000;
$def-text: #000;
$def-box-shadow: #818181;

#main {
  overflow: hidden;
  position: relative !important;
}

.ddimgtooltip {
  background: none;
  border: 0 solid $def-border;
  box-shadow: 0, 0, 0, $def-box-shadow;
  color: $def-text;
  display: none;
  padding: 4px;
  position: absolute;
  z-index: 2000;
}

@import 'scratch';
@import 'snop';
@import 'cascade';
@import 'dota';

.narrative-prompt {
  border: 3px solid #c3c3c3;
  background-color: white;
  box-sizing: border-box;
  width: 600px;
  text-align: left;
  padding: calc(1em + 4px) calc(5% + 1.5px);
  color: #000;

  .caligrey {
    color: #323232;
  }

  .caligreen {
    color: #2ed73a;
  }
}