#main {
    overflow: hidden;
    position: relative!important;
}
.ddimgtooltip {
    background: 0 0;
    border: 0 solid #000;
    box-shadow: 0, 0, 0, #818181;
    color: #000;
    display: none;
    padding: 4px;
    position: absolute;
    z-index: 2000;
}
.narrative-prompt {
    background-color: #fff;
    border: 3px solid #c3c3c3;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
    padding: calc(1em + 4px) calc(5% + 1.5px)!important;
    text-align: left;
    width: 600px;
}
.narrative-prompt .caligrey {
    color: #323232;
}
.narrative-prompt .caligreen {
    color: #2ed73a;
}
.p4079 {
    background: #0707ec;
    font-family: Comic Sans MS;
    font-size: 14px;
}
.p4079 #adventureprofile a,
.p4079 #adventureprofile a:hover,
.p4079 #adventureprofile a:visited,
.p4079 .adventurepage a,
.p4079 .adventurepage a:hover,
.p4079 .adventurepage a:visited {
    font-family: Comic Sans MS;
}
.p4079 #pagecommand {
    font-family: Comic Sans MS;
    font-size: 32px!important;
    padding: 6px;
    text-transform: uppercase;
}
.p4079 #articleholder,
.p4079 #container2,
.p4079 #main {
    background: #f400ec!important;
    padding: 0;
}
.p4079 #container1,
.p4079 #container3,
.p4079 #jumptoadventure,
.p4079 #pagelist,
.p4079 #viewall,
.p4079 .adventurepage {
    background: #14ff23!important;
}
.p4079 #jumptoadventure {
    border-color: #14ff23;
}
.p4079 header>:not(nav) {
    display: none!important;
}
.p4079 .spacing.heart {
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/31dfd272-acc5-4e8f-8534-4b4f36b8da13/de7v4f8-b496b88f-fe30-48f5-8322-fec8aba7673e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMzFkZmQyNzItYWNjNS00ZThmLTg1MzQtNGI0ZjM2YjhkYTEzXC9kZTd2NGY4LWI0OTZiODhmLWZlMzAtNDhmNS04MzIyLWZlYzhhYmE3NjczZS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.IslvAengSJ0IINvqjvyU0zK16M3UDKHpta9ogmTpXSY) center center no-repeat!important;
    padding: 0 10px;
}
.p4079 .spacing.heart img {
    display: none!important;
}
.p4106 body {
    background: #000!important;
}
.p4106 #articleholder,
.p4106 #container2,
.p4106 #main {
    background: #262626!important;
}
.p4106 #main {
    padding: 0!important;
    width: 960px!important;
}
.p4106 #slide {
    width: 100%!important;
}
.p4106 #container1,
.p4106 #container3,
.p4106 #jumptoadventure,
.p4106 #pagelist,
.p4106 #viewall,
.p4106 .adventurepage {
    background: #262626!important;
    color: #fff;
}
.p4106 #jumptoadventure {
    border-color: #262626;
}
.p4106 #pagecommand,
.p4106 header>:not(nav) {
    display: none!important;
}
.p4106 embed {
    height: 600px!important;
    width: 950px!important;
}
.p4106 #imgtitle {
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
}
.p4106 #adventureprofile a,
.p4106 #adventureprofile a:hover,
.p4106 #adventureprofile a:visited,
.p4106 .adventurepage a,
.p4106 .adventurepage a:hover,
.p4106 .adventurepage a:visited {
    color: #06f!important;
}
.p4812 {
    padding: 0!important;
    background: #000;
}
.p4812>* {
    background: #000!important;
    margin: 0 auto!important;
    padding: 0!important;
}
.p4812 #adventureprofile,
.p4812 footer,
.p4812 header {
    display: none!important;
}
.p4812 #articleholder,
.p4812 #main,
.p4812 #slide,
.p4812 #slide .panel,
.p4812 #text1,
.p4812 .panel,
.p4812 embed {
    background: #000!important;
    border: 0!important;
    height: 750px!important;
    margin: 0 auto!important;
    padding: 0!important;
    width: 950px!important;
}
.p3761-4078 body {
    background-color: #000!important;
}
.p3761-4078 #slide .spoiler.open,
.p3761-4078 #slide .spoiler.closed {
    background-color: #000!important;
}
.p3761-4078 #adventureprofile a,
.p3761-4078 #adventureprofile a:hover,
.p3761-4078 #adventureprofile a:visited,
.p3761-4078 .adventurepage a,
.p3761-4078 .adventurepage a:hover,
.p3761-4078 .adventurepage a:visited,
.p3761-4078 #container a,
.p3761-4078 #container a:hover,
.p3761-4078 #container a:visited,
.p3761-4078 footer a,
.p3761-4078 footer a:hover,
.p3761-4078 footer a:visited {
    color: #2cff4b!important;
}

.p3761-4078 #articleholder,
.p3761-4078 #container,
.p3761-4078 #main {
    background: #082a00!important;
    padding: 0;
}
.p3761-4078 #container1,
.p3761-4078 #container3,
.p3761-4078 #jumptoadventure,
.p3761-4078 #pagelist,
.p3761-4078 #viewall,
.p3761-4078 #slide,
.p3761-4078 #info .spoiler.open,
.p3761-4078 .adventurepage {
    background-color: #0e4603!important;
    color: #fff;
}
.p3761-4078 #jumptoadventure {
    border-color: #0e4603;
}
.p3761-4078 header>:not(nav) {
    display: none!important;
}
.p3761-4078 nav a,
.p3761-4078 nav a:hover,
.p3761-4078 nav a:visited {
    color: #fff!important;
}
.p3761-4078 .spacing.heart {
    background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/31dfd272-acc5-4e8f-8534-4b4f36b8da13/de7v4f8-b496b88f-fe30-48f5-8322-fec8aba7673e.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMzFkZmQyNzItYWNjNS00ZThmLTg1MzQtNGI0ZjM2YjhkYTEzXC9kZTd2NGY4LWI0OTZiODhmLWZlMzAtNDhmNS04MzIyLWZlYzhhYmE3NjczZS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.IslvAengSJ0IINvqjvyU0zK16M3UDKHpta9ogmTpXSY) center center no-repeat!important;
    padding: 0 10px;
}
.p3761-4078 .spacing.heart img {
    display: none!important;
}
.p3761-4078 nav {
    padding-top: 180px!important;
}
.p4078 #container1,
.p4078 #container3,
.p4078 #jumptoadventure,
.p4078 #pagelist,
.p4078 .adventurepage {
    background: #0e4603!important;
    color: #fff
}
.p3761-3793 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room.gif) top left no-repeat #000!important;
}
.p3794 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room02.gif) top left no-repeat #000!important;
}
.p3795 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room03.gif) top left no-repeat #000!important;
}
.p3796 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room04.gif) top left no-repeat #000!important;
}
.p3797 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room05.gif) top left no-repeat #000!important;
}
.p3798 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room06.gif) top left no-repeat #000!important;
}
.p3799 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room07.gif) top left no-repeat #000!important;
}
.p3800 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room08.gif) top left no-repeat #000!important;
}
.p3801 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room09.gif) top left no-repeat #000!important;
}
.p3802 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room10.gif) top left no-repeat #000!important;
}
.p3803 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room11.gif) top left no-repeat #000!important;
}
.p3804 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room12.gif) top left no-repeat #000!important;
}
.p3805 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room13.gif) top left no-repeat #000!important;
}
.p3806 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room14.gif) top left no-repeat #000!important;
}
.p3807 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room15.gif) top left no-repeat #000!important;
}
.p3808 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room16.gif) top left no-repeat #000!important;
}
.p3809 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room17.gif) top left no-repeat #000!important;
}
.p3810 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room18.gif) top left no-repeat #000!important;
}
.p3811 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room19.gif) top left no-repeat #000!important;
}
.p3812 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room20.gif) top left no-repeat #000!important;
}
.p3813 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room21.gif) top left no-repeat #000!important;
}
.p3814 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room22.gif) top left no-repeat #000!important;
}
.p3815 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room23.gif) top left no-repeat #000!important;
}
.p3816 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room24.gif) top left no-repeat #000!important;
}
.p3817 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room25.gif) top left no-repeat #000!important;
}
.p3818 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room26.gif) top left no-repeat #000!important;
}
.p3819 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room27.gif) top left no-repeat #000!important;
}
.p3820 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room28.gif) top left no-repeat #000!important;
}
.p3821 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room29.gif) top left no-repeat #000!important;
}
.p3822 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room30.gif) top left no-repeat #000!important;
}
.p3823 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room31.gif) top left no-repeat #000!important;
}
.p3824 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room32.gif) top left no-repeat #000!important;
}
.p3825 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room33.gif) top left no-repeat #000!important;
}
.p3826 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room34.gif) top left no-repeat #000!important;
}
.p3827 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room35.gif) top left no-repeat #000!important;
}
.p3828 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room36.gif) top left no-repeat #000!important;
}
.p3829 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room37.gif) top left no-repeat #000!important;
}
.p3830 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room38.gif) top left no-repeat #000!important;
}
.p3831 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room39.gif) top left no-repeat #000!important;
}
.p3832 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room40.gif) top left no-repeat #000!important;
}
.p3833 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room41.gif) top left no-repeat #000!important;
}
.p3834 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room42.gif) top left no-repeat #000!important;
}
.p3835 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room43.gif) top left no-repeat #000!important;
}
.p3836 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room44.gif) top left no-repeat #000!important;
}
.p3837 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room45.gif) top left no-repeat #000!important;
}
.p3838 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room46.gif) top left no-repeat #000!important;
}
.p3839 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room47.gif) top left no-repeat #000!important;
}
.p3840 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room48.gif) top left no-repeat #000!important;
}
.p3841 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room49.gif) top left no-repeat #000!important;
}
.p3842 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room50.gif) top left no-repeat #000!important;
}
.p3843 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room51.gif) top left no-repeat #000!important;
}
.p3844 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room52.gif) top left no-repeat #000!important;
}
.p3845 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room53.gif) top left no-repeat #000!important;
}
.p3846 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room54.gif) top left no-repeat #000!important;
}
.p3847 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room55.gif) top left no-repeat #000!important;
}
.p3848 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room56.gif) top left no-repeat #000!important;
}
.p3849 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room57.gif) top left no-repeat #000!important;
}
.p3850 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room58.gif) top left no-repeat #000!important;
}
.p3851 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room59.gif) top left no-repeat #000!important;
}
.p3852 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room70.gif) top left no-repeat #000!important;
}
.p3853 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room61.gif) top left no-repeat #000!important;
}
.p3854 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room62.gif) top left no-repeat #000!important;
}
.p3855 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room63.gif) top left no-repeat #000!important;
}
.p3856 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room64.gif) top left no-repeat #000!important;
}
.p3857 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room65.gif) top left no-repeat #000!important;
}
.p3858 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room66.gif) top left no-repeat #000!important;
}
.p3859 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room67.gif) top left no-repeat #000!important;
}
.p3860 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room68.gif) top left no-repeat #000!important;
}
.p3861 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room69.gif) top left no-repeat #000!important;
}
.p3862 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room70.gif) top left no-repeat #000!important;
}
.p3863 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room71.gif) top left no-repeat #000!important;
}
.p3864 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room72.gif) top left no-repeat #000!important;
}
.p3865 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room73.gif) top left no-repeat #000!important;
}
.p3866 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room74.gif) top left no-repeat #000!important;
}
.p3867 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room75.gif) top left no-repeat #000!important;
}
.p3868 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room76.gif) top left no-repeat #000!important;
}
.p3869 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room77.gif) top left no-repeat #000!important;
}
.p3870 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room78.gif) top left no-repeat #000!important;
}
.p3871 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room79.gif) top left no-repeat #000!important;
}
.p3872-3998 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room80.gif) top left no-repeat #000!important;
}
.p3999-4031 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room85.gif) top left no-repeat #000!important;
}
.p4033-4048 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room87.gif) top left no-repeat #000!important;
}
.p4049 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room88.gif) top left no-repeat #000!important;
}
.p4050 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room89.gif) top left no-repeat #000!important;
}
.p4051 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room90.gif) top left no-repeat #000!important;
}
.p4052 nav {
    background: url(https://www.homestuck.com/images/storyfiles/hs2/scratch/room91.gif) top left no-repeat #000!important;
}
.p4105 nav {
    background: url(https://www.homestuck.com/images/images/header_cascade.gif) top left no-repeat #000!important;
    padding-top: 180px!important
}

/*Stretch through the page*/

.p5488 #command { 
    display: none;
}
.p5488 header > nav { 
    display: none;
}
.p5488 #foot { 
    display: none;
}
.p5770 #command { 
    display: none;
}
.p5770 header > nav { 
    display: none;
}
.p5770 #foot { 
    display: none;
}

/* Trickster Mode Theme */

.p5711-5774 body {
    background: url("https://www.homestuck.com/assets/trickster_sitegraphics/Z2-1f01ec47bb6808d8e332fd8f2d161a88120bcdddb897a605ab92ce87fd9b34c4.gif");
    color: #f9fd6b;
}
.p5711-5774 a:link {
    color: #fb060b;
}
.p5711-5774 a:visited {
    color: #ffa800;
}
.p5711-5774 a:active {
    color: #ff0000;
}
.p5711-5774 #main {
    background: url("https://www.homestuck.com/assets/trickster_sitegraphics/bluetile-c60eadb15fe04b48742a18b635992927bdd48e1798cc37169bd9aa43c9deffea.gif");
}
.p5711-5774 #flashytitle {
    background-color: #ff73fd;
}
.p5711-5774 nav {
    background-color: #000000;
    color: #ffffff;
}
.p5711-5774 nav .heart {
    background-image: url("https://dl.dropboxusercontent.com/s/z14lmpvdlfmrvao/CandyCornItem.png");
}
.p5711-5774 #dialog {
    background-color: #ff73fd;
}
.p5711-5774 #dialog > div:nth-child(1) {
    background-color: #3fe000;
}
.p5711-5774 .mspfalogo {
    border-right-color: #3fe000;
    background-color: #ff73fd;
}
.p5711-5774 table.container {
    border-color: #3fe000;
    background-color: #ff73fd;
}
.p5711-5774 table.container > tbody > tr > td, table.container > tbody > tr > th {
    border-color: #3fe000;
}
.p5711-5774 #slide {
    background-color: #ff73fd;
}
.p5711-5774 #info > span > .spoiler.open {
    background-color: #ff73fd;
}
/*AUTHORLOG*/

.authorlog {
    width:536px;
    padding: 17px 26px 17px 32px;
    text-align: left;
    border: 3px solid #c6c6c6;
    background: white;
}
/*DOUBLEPAGE*/

.p5785-5922 .dleft, .p5785-5922 .dright {
    width: 650px; 
    float: left; 
    background: #EEEEEE; 
    margin-top: 7px;
}
.p5785-5922 .dleft {
    margin-left: 165px;
}
.p5785-5922 .dright {
    margin-right: 165px;
    float: right;
}
.p5785-5922 #main, .p5785-5922 #slide {
    max-width: none; 
    width: 1660px; 
    margin: 0 auto; 
    padding: 0; 
    background: #c6c6c6;
}
.p5785-5922 #command {
    display: none;
}
.p5785-5922 .dleft #command, .p5785-5922 .dright #command {
    display: block;
}
.p5785-5922 #foot {
    background: #EEEEEE;
    margin: 0 165px;
    padding: 0 10px;
}
.p5785-5922 .dleft #foot, .p5785-5922 .dright #foot {
    margin: 0  20px!important;
    text-align: left;

}
/*CALIBORN PAGES*/

.p6240-6273 body {
    background-color: #042300;
    color: #2ED73A;
}
.p6240-6273 #main {
    background-color: #168500;
    color: #2ED73A;
}
.p6240-6273 a:link {
    color: #2ED73A;
}
.p6240-6273 a:visited {
    color: #2ED73A;
}
.p6240-6273 a:active {
    color: #2ED73A;
}
.p6240-6273 nav {
    background-color: #073C00;
    color: #2ED73A;
}
.p6240-6273 nav .heart {
    background-image: url("https://www.homestuck.com/assets/a6a6_tooth2-3664eaf6cf64c8e5441a47abbf2642b7a61225b67a192d3a53f1bee5f333eb3b.gif");
}
.p6240-6273 #dialog {
    background-color: #073C00;
}
.p6240-6273 #dialog > div:nth-child(1) {
    background-color: #073C00;
}
.p6240-6273 .mspfalogo {
    border-right-color: #042300;
    background-color: #042300;
}
.p6240-6273 table.container {
    border-color: #073C00;
    background-color: #073C00;
}
.p6240-6273 table.container > tbody > tr > td, table.container > tbody > tr > th {
    border-color: #073C00;
}
.p6240-6273 #slide {
    background-color: #042300;
}
.p6240-6273 #info > span > .spoiler.open {
    background-color: #168500;
}
