/* Trickster Mode Theme */
body {
    background: url("/images/Z2.gif");
    color: #f9fd6b;
}
a:link {
    color: #fb060b;
}
a:visited {
    color: #ffa800;
}
a:active {
    color: #ff0000;
}
#main {
    background: url("/images/bluetile.gif");
}
#flashytitle {
    background-color: #ff73fd;
}
nav {
    background-color: #000000;
    color: #ffffff;
}
nav .heart {
    background-image: url("/images/candyheart.png");
}
#dialog {
    background-color: #ff73fd;
}
#dialog > div:nth-child(1) {
    background-color: #3fe000;
}
.mspfalogo {
    border-right-color: #3fe000;
    background-color: #ff73fd;
}
table.container {
    border-color: #3fe000;
    background-color: #ff73fd;
}
table.container > tbody > tr > td, table.container > tbody > tr > th {
    border-color: #3fe000;
}
#slide {
    background-color: #ff73fd;
}
#info > span > .spoiler.open {
    background-color: #ff73fd;
/* Trickster Mode Theme */
body {
    background: url("/images/Z2.gif");
    color: #f9fd6b;
}
a:link {
    color: #fb060b;
}
a:visited {
    color: #ffa800;
}
a:active {
    color: #ff0000;
}
#main {
    background: url("/images/bluetile.gif");
}
#flashytitle {
    background-color: #ff73fd;
}
nav {
    background-color: #000000;
    color: #ffffff;
}
nav .heart {
    background-image: url("/images/candyheart.png");
}
#dialog {
    background-color: #ff73fd;
}
#dialog > div:nth-child(1) {
    background-color: #3fe000;
}
.mspfalogo {
    border-right-color: #3fe000;
    background-color: #ff73fd;
}
table.container {
    border-color: #3fe000;
    background-color: #ff73fd;
}
table.container > tbody > tr > td, table.container > tbody > tr > th {
    border-color: #3fe000;
}
#slide {
    background-color: #ff73fd;
}
#info > span > .spoiler.open {
    background-color: #ff73fd;
}